/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .featured .view-all {
        display: none;
    }
}

/* Tablet & mobile */
@media screen and (max-width: 991.98px) {
    .navbar {
        position: relative;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .toggle-menu svg {
        width: 24px;
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
    }

    .menu-drawer {
        padding: 60px;
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        transform: translateX(-100%);
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 2px solid #ccc;
    }

    .hero-img {
        display: none;
    }

    .hero-wrap .info {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .hero-wrap .info .desc {
        width: 80%;
        margin: 30px auto 0;
    }

    .clients .images {
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 50px;
    }

    .guide-item {
        margin: 0;
        flex: 1;
    }

    .featured .list {
        grid-template-columns: 1fr 1fr;
    }

    .stats .row {
        flex-direction: column;
    }

    .stats .img-block,
    .stats .info {
        width: 100%;
    }

    .stats .info {
        order: 1;
        padding: 0;
    }

    .stats .img-block {
        margin-top: 80px;
        order: 2;
    }

    .stats .info .sub-title {
        width: 70%;
    }

    .stats .info .desc {
        margin-top: 32px;
        width: 90%;
    }

    .stats .row {
        flex-direction: row;
    }

    .stats .row .qty {
        font-size: 5rem;
    }

    .stats .row .qty-desc {
        font-size: 1.5rem;
    }

    .subscription .image {
        display: none;
    }

    .footer .row-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
    }
    .footer .list {
        margin: 0;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .menu-drawer ul .hide-on-tablet {
        display: none;
    }

    .hide-on-tablet {
        display: none;
    }

    /* .featured .view-all {
        display: none;
    } */
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .hide-on-mobile {
        display: none;
    }
    .menu-drawer {
        inset: 0 30% 0 0;
        padding: 40px;
    }

    .navbar .actions {
        display: none;
    }

    .hero-wrap .title {
        margin-top: 18px;
        font-size: 5.2rem;
    }
    .hero-wrap .info .desc {
        width: 100%;
    }

    .list-guide {
        flex-direction: column;
        row-gap: 60px;
    }

    .featured .sub-title {
        font-size: 3.2rem;
    }

    .featured .link {
        display: none;
    }

    .featured .list {
        grid-template-columns: 1fr;
    }

    .featured .view-all {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .stats .row {
        flex-direction: column;
    }

    .stats .info .sub-title {
        width: 100%;
    }

    .stats .img-block .image {
        width: 100%;
    }

    .stats .stats-trend {
        border-radius: 12px;
    }

    .stats .row {
        row-gap: 40px;
    }

    .subscription .info {
        padding: 0 40px;
    }

    .subscription .sub-title {
        --key: 2;
        font-size: 3.2rem;
    }

    .footer .row-bottom {
        flex-wrap: wrap;
        gap: 20px 0;
    }

    .hero-wrap {
        padding-bottom: 90px;
        height: calc(100vh - 80px);
    }
}
